name: Deploy Lambda

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  AWS_REGION: us-west-2
  LAMBDA_ARCH: arm64
  LAMBDA_FUNCTION_NAME: ec2-manager
  LAMBDA_MEMORY: 128
  LAMBDA_RUNTIME: provided.al2023
  LAMBDA_TIMEOUT: 360
  FAIL_ON_PREVIOUS_FAILURE: true

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Build and Package Lambda Binary
        run: |
          make build-arm64

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy to Lambda
        run: |
          chmod +x ./scripts/deploy-lambda.sh
          ./scripts/deploy-lambda.sh ${{ secrets.LAMBDA_ROLE_ARN }}
